<html>
<head>
    <meta charset="UTF-8">
    <title>Log Control</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="logcontrol.js"></script>

    <style>
        .container {
            width: 100%;
        }

        body {
            padding-top: 50px;
        }

        .log-level {
            padding: 10px;
        }

    </style>
</head>
<body>
<div class="logo-background">
    <img src="../logo.png" alt="gusl">
</div>
<div id="heading"></div>
<p></p>
<div class="container" ng-app="sortApp" ng-controller="mainController">
    <p></p>

    <h1 style="background: {{constructColour}}">{{constructName + "-" + constructType}}</h1>
    <p></p>
    <p>
        <button class="mbButton" go-click="/index.html"><img src="../images/home-24.png" alt="Home"/><br/>Home
        </button>
        <button class="mbButton" go-click="/nodelogs/index.html"><img
                src="../images/logs-24.png" alt="Control"/><br/>Logs
        </button>
    </p>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'time';
                                        sortReverse = !sortReverse">
                    Name
                    <span ng-show="sortType === 'time' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === 'time' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'level';
                                        sortReverse = !sortReverse">
                    Level
                    <span ng-show="sortType === 'level' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === 'level' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>Debug</td>
            <td>Debug All</td>
            <td>Revert</td>
            <td>Revert All</td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="loggerDTO in nodeLoggers| orderBy:sortType:!sortReverse | filter:searchValue">
            <td>{{loggerDTO.name}}</td>
            <td>{{loggerDTO.level}}</td>
            <td style=" text-align:center"><a ng-if="loggerDTO.level !== 'DEBUG'"
                                              href="" ng-click="changeLogger(loggerDTO)"><img
                    src="../images/bug-single-24.png" alt="Debug"/></a></td>
            <td style=" text-align:center"><a href="" ng-click="changeAll(loggerDTO)"><img
                    src="../images/bug-all-24.png"
                    alt="Debug All"/></a></td>
            <td style=" text-align:center"><a href="" ng-click="revert(loggerDTO)"><img src="../images/logs-24.png"
                                                                                        alt="Revert"/></a></td>
            <td style=" text-align:center"><a href="" ng-click="revertAll(loggerDTO)"><img src="../images/logs-24.png"
                                                                                           alt="Revert"/></a></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>
