<html>
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="nodelogs.css">

    <!-- JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src="nodelogs.js"></script>

</head>
<body>
<div class="logo-background">
    <img src="../logo.png" alt="gusl">
</div>
<div id="heading"></div>
<p></p>
<div class="container" ng-app="sortApp" ng-controller="mainController">
    <p></p>
    <h1 style="background:{{constructColour}}">{{constructName + "-" + constructType}}</h1>
    <p></p>
    <p>
        <button class="mbButton" go-click="/index.html"><img src="../images/home-24.png" alt="Home"/><br/>Home
        </button>
        <button class="mbButton" go-click="/logcontrol/index.html"><img src="../images/log-control-24.png"
                                                                        alt="Control"/><br/>Logger
        </button>
    </p>

    <div class="log-level">
        <span>Log Level :   </span>
        <select ng-options="option for option in listOfOptions" ng-model="selectedItem"
                ng-change="selectedItemChanged()"></select>
        <button ng-click="pause()"><img ng-src="../images/{{image}}-24.png" alt="Pause"/>Pause</button>
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'time';
                                        sortReverse = !sortReverse">
                    Time
                    <span ng-show="sortType === 'time' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === 'time' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = '[\'threadName\']';
                                        sortReverse = !sortReverse">
                    Thread Name
                    <span ng-show="sortType === '[\'threadName\']' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === '[\'threadName\']' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'level';
                                        sortReverse = !sortReverse">
                    Level
                    <span ng-show="sortType === 'level' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === 'level' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = '[\'loggerName\']';
                                        sortReverse = !sortReverse">
                    Log Name
                    <span ng-show="sortType === '[\'loggerName\']' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === '[\'loggerName\']' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'message';
                                        sortReverse = !sortReverse">
                    Message
                    <span ng-show="sortType === 'message' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === 'message' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="logDTO in nodeLogs| orderBy:sortType:!sortReverse | filter:searchValue">
            <td>{{logDTO.date}} {{logDTO.formattedTime}}</td>
            <td>{{logDTO['thread-name']}}</td>
            <td ng-class="logDTO.level">{{logDTO.level}}</td>
            <td class="lm-hidden">
                <button class="lm-hidden-button" ng-click="changeLogger(logDTO)">
                    <img class="clippy" src="../images/bug-12.png" alt="">
                </button>
                {{logDTO.loggerName}}
            </td>
            <td class="lm-message">
                <button class="lm-copy-button" ng-click="copyToClipboard(logDTO)">
                    <img class="clippy" width="12" src="../images/clippy.svg" alt="">
                </button>
                <span class="mbPre">{{logDTO.message}}</span>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
