.mbPre {
    overflow: auto;
    -ms-word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    word-wrap:break-word;
}

body {
    padding: 10px;
}

h1 {
    padding: 10px;
}

.FATAL {
    color: red
}

.ERROR {
    color: orange
}

.WARN {
    color: green
}

.INFO {
}

.DEBUG {
}

.container {
    width: 100%;
}

.log-level {
    padding: 10px;
}

.lm-hidden {
    position: relative;
}

.lm-hidden-button {
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    padding: 2px 2px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.lm-hidden:hover .lm-hidden-button {
    opacity: 1;
}

.lm-message {
    position: relative;
}

.lm-copy-button {
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    padding: 2px 2px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.lm-message:hover .lm-copy-button {
    opacity: 1;
}
