<html>
<head>
    <title>Timings</title>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src="latency.js"></script>
    <style media="screen" type="text/css">
        body {
            padding: 10px;
        }

        h1 {
            padding: 10px;
        }

        .wrapper {
            width: 900px;
            /*border: 1px solid black;*/
            overflow: hidden; /* will contain if #first is longer than #second */
        }

        .first {
            width: 400px;
            height: 120px;
            float: left;
            /*		    border: 1px solid red; */
        }

        .second {
            width: 400px;
            height: 120px;
            /*		    border: 1px solid green; */
            overflow: hidden; /* if you don't want #second to wrap below #first */
        }

        .total {
            width: 100px;
            height: 120px;
            float: left;
        }

        .total input {
            width: 60px;
        }

        .hidden div.first, .hidden div.second, .hidden div.total {
            display: none;
        }

        .hidden h3, .hidden h4 {
            margin: 0;
        }

        h3 {
            width: 90%;
            float: left;
        }

        h4.close {
            width: 5%;
            float: right;
        }

        .metric-name {
            vertical-align: top;
            margin-right: 20px;
        }

        .range-table {
            background-color: yellow;
            font-size: 0.8em;
        }

        .range {
            padding-right: 10px;
        }

        .value {
            padding-left: 10px;
            text-align: right;
        }

        .totals {
            font-weight: bold;
            display: none;
        }

        .non-zero {
            font-weight: bold;
        }

        .container {
            width: 100%;
        }

        .refresh {
            padding: 10px
        }

        .btn {
            margin-right: 10px;
        }
    </style>

</head>
<body>
<div class="logo-background">
    <img src="../logo.png" alt="gusl">
</div>

<div id="heading"></div>
<div class="container" ng-app="latencyApp" ng-controller="mainController">
    <div class="refresh">
        <button class="btn" ng-click="refresh()">
            Refresh
        </button>
        <button class="btn" ng-click="reset()">
            Reset
        </button>

    </div>
    <p>
        <button class="mbButton" go-click="/index.html"><img src="../images/home-24.png" alt="Home"/><br/>Home
        </button>
    </p>
    <div>
        <table class="table table-bordered ">

            <tr ng-repeat="metric in metrics" ng-if="hasChildren(metric)">
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <td style="width: 100%" class="metric-name" ng-click="toggle(metric['name'])"><span
                                    class="fa"
                                    ng-class="{'fa-caret-up': metric['show'],'fa-caret-down': !metric['show']}"></span>&nbsp;{{
                                metric['name']}}
                            </td>
                        </tr>
                        <tr ng-show="metric['show'] === true">
                            <td style="width: 100%">
                                <table class="table table-bordered">
                                    <tr>
                                        <td ng-repeat="bucket in metric['metrics']" style="vertical-align: top"
                                            ng-if=" bucket['total'] > 0">
                                            <table class="range-table table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <td colspan="2">size {{bucket['name']}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Range</td>
                                                    <td class="value">Count</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="reading in bucket['latency']"
                                                    ng-if=" reading['value'] > 0"
                                                    ng-class="{totals: reading['range'] === 'total' || reading['range'] === 'avg ms' ,'hide': reading['value'] === 0}">
                                                    <td class="range" ng-class=""> {{ reading['range']}}</td>
                                                    <td class="value">{{ reading['value']}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>
