<html>
<head>
    <title>Metrics</title>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- JS -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src="metrics.js"></script>
    <style media="screen" type="text/css">
        body {
            padding: 10px;
        }

        h1 {
            padding: 10px;
        }

        .wrapper {
            width: 900px;
            /*border: 1px solid black;*/
            overflow: hidden; /* will contain if #first is longer than #second */
        }

        .first {
            width: 400px;
            height: 120px;
            float: left;
            /*		    border: 1px solid red; */
        }

        .second {
            width: 400px;
            height: 120px;
            /*		    border: 1px solid green; */
            overflow: hidden; /* if you don't want #second to wrap below #first */
        }

        .total {
            width: 100px;
            height: 120px;
            float: left;
        }

        .total input {
            width: 60px;
        }

        .hidden div.first, .hidden div.second, .hidden div.total {
            display: none;
        }

        .hidden h3, .hidden h4 {
            margin: 0;
        }

        h3 {
            width: 90%;
            float: left;
        }

        h4.close {
            width: 5%;
            float: right;
        }

    </style>

</head>
<body>
<div class="logo-background">
    <img src="../logo.png" alt="gusl">
</div>

<div id="heading"></div>
<div class="container" ng-app="metricsApp" ng-controller="mainController">
    <p></p>
    <h1 style="background: {{constructColour}}">{{constructName + "-" + constructType}}</h1>
    <p></p>
    <p>
        <button class="mbButton" go-click="/index.html"><img src="../images/home-24.png" alt="Home"/><br/>Home
        </button>
    </p>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search" ng-change="change()"
                       ng-model="searchValue">
            </div>
        </div>
    </form>

    <table ng-table="tableParams" class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = '[\'name\']';
                                        sortReverse = !sortReverse">
                    Name
                    <span ng-show="sortType === '[\'name\']' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === '[\'name\']' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = '[\'counter\']';
                                        sortReverse = !sortReverse">
                    Count
                    <span ng-show="sortType === '[\'counter\']' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType === '[\'counter\']' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="nodeRow in metrics| orderBy:sortType:sortReverse" ng-show="nodeRow['filter'] !== false">
            <!-- filter:searchValue" -->
            <td ng-click="toggle(nodeRow['name'])">{{ nodeRow['name']}} <span class="fa"
                                                                              ng-class="{'fa-caret-up': nodeRow['show'],'fa-caret-down': !nodeRow['show']}"></span>
            </td>
            <td>
                <div ng-show="nodeRow['show'] !== true">{{ nodeRow['counter']}}</div>
                <div class="wrapper" ng-show="nodeRow['show'] === true" ng-attr-id="xx_{{ nodeRow['name']}}"
                     style="height:200px">

                    <div id="chart_{{ nodeRow['name']}}" class="first"></div>
                    <div id="total_{{ nodeRow['name']}}" class="total">
                        <p>Total:</p><input type="text" value="{{nodeRow[" counter"]}}" readOnly="true"/>
                    </div>
                    <div id="gauge_{{ nodeRow['name']}}" class="second"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="charts"></div>
</body>
</html>

